/screenshots/**
/midterm_demo/**
/docs/**
.python-version
/.mypy_cache/**
/dataset/glass/**
/dataset/metal/**
/dataset/paper/**
/dataset/plastic/**
/dataset/others/**
/dataset/sample/**
/dataset/zip/**
/others/**
