/screenshots/**
/midterm_demo/**
/final_demo/**
/docs/**
/.mypy_cache/**
/dataset/glass/**
/dataset/metal/**
/dataset/paper/**
/dataset/plastic/**
/dataset/others/**
/dataset/sample/**
/dataset/zip/**
/others/**
/captures/**
TODO.md
